.example-viewport {
  margin: 0 auto;
  display: block;
  height: 500px;
  width: 600px;
  margin-top: 50px;
}

.example-item {
  height: 50px;
  background: lightblue;
  margin: 5px;
  line-height: 50px;
  align-items: center;
  text-align: center;
}

.virtual-scroll{
  font-size: 20px;
  text-align: center;
}
